$headerHeight: 64px;

.calendar-wrapper {
  display: flex;
  flex: 1;
  padding: 0;
}

.calendar-container {
  height: auto;
  border: 1px solid rgba(105, 112, 112, 0.409);
}

.calendar-box {
  display: grid;
  background-color: hwb(0 100% 0%);
  border: 0.5px solid rgba(105, 112, 112, 0.409);
  grid-template-columns: repeat(7, 0.4fr);
  grid-template-rows: repeat(6, 0.4fr);
}

.calendar-month {
  border: 0.5px solid rgba(105, 112, 112, 0.409);
  max-width: 150px;
  min-height: 100px;
}

.calendar-day-header {
  display: flex;
  justify-content: flex-end;
  height: 33px;
}

.planner-wrapper {
  padding-top: 24px;
  max-width: 1060px;
  margin: 0 auto;
}

.planner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: '#F5F5F5';
  border-radius: 8px;
  border: 1px solid rgba(105, 112, 112, 0.409);
  box-shadow: rgba(133, 134, 167, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding-bottom: 16px;
}

.planner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-family: cursive;
}

.planner-header-buttons-wrapper{
  display: flex;
  flex-direction: row;
  font-size: 20px;
}