{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "unicorn", "prettier"],
  "rules": {
    "quotes": ["error", "single"],
    "react/react-in-jsx-scope": "off",
    "camelcase": "off",
    "no-trailing-spaces": ["warn"],
    "unicorn/filename-case": [
      "warn",
      {
        "case": "camelCase"
      }
    ],
    "semi": "off",
    "@typescript-eslint/no-var-requires": "off",
    "new-cap": [
      "error",
      {
        "capIsNew": false
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "printWidth": 120,
        "singleQuote": true,
        "trailingComma": "all",
        "jsxSingleQuote": true,
        "bracketSpacing": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
