.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-position: inside;
  padding: 2px;
  margin: unset;
  overflow: hidden;
  max-height: calc(100px - 33px);
  width: 100%;
}

.double-clicked-button {
  border: unset;
  background-color: unset;
  color: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 8px;
  width: 139px;
}

.list-item-title {
  font-size: 8px;
  font-weight: bolder;
  font-family: Segoe UI;
  color: 37474;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  padding: 0px;
}
