.modal-event-input {
  background-color: rgb(251, 249, 246);
  border: 1px solid rgba(184, 182, 182, 0.645);
  border-radius: 8px;
  outline: unset;
  padding: 4px 14px;
  text-overflow: ellipsis;
  width: 100%;
  margin-bottom: 16px;
}

.modal-event-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.modal-event-control-box {
  background-color: rgba(251, 251, 251, 0.707);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 180px;
  padding: 8px;
  width: 300px;
}