.modal-event-input {
  background-color: rgb(251, 249, 246);
  border: 1px solid rgba(184, 182, 182, 0.645);
  border-radius: 8px;
  outline: unset;
  padding: 4px 14px;
  text-overflow: ellipsis;
  width: 100%;
  margin-bottom: 16px;
}